body{
	background-color: white;
}
::-webkit-scrollbar { 
    display: none; 

  
}
/*@media print {
  body * {
    visibility: hidden;
  }
  #mydiv2 *{
  	visibility: hidden;
  }
  .textbody{
  	page-break-before: always;
  	visibility: visible;
  	height: 100%;
  	height: auto;
    overflow-y: visible;
    left: 0;
    top: 0;
  }
  #mydiv1, #mydiv1 * {
  	page-break-before: always;
    visibility: visible;
  }
  #mydiv1 {
  	overflow-y: visible;
  	width: auto;
height: auto;
overflow-y: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
}*/

.header{
	font-size: 25px;
	font-weight: bold;
}

.maintext{
	position: fixed;
	overflow: hidden;
	font-family: 'Roboto Mono', monospace;
	font-size: 24px;
}

.textbody{
	overflow-x: hidden;
	top: -30px;
	position: absolute;
	width: 100%;
    height: 110%;
	padding:10px;
	overflow-y: scroll;
	opacity: 0.9;
	background-color: white;
	color: black;
}
.textbody img{
	width: calc(110%);
	margin-left: -10px;
	margin-top: 20px;
}

#mydiv2{

	-webkit-transform: rotate3d(1, 2, -1, 0deg);
	transform: rotate3d(1, 2, -1, 0deg) scale(3);
	position: absolute;
	left: 30%;
	top: 50%;
	filter: blur(7px)
	invert(100%);
    margin-right: -50px;
	width: 50%;
	height: 130%;
	z-index: -1000;
}

#mydiv1{

	border: 8px solid black;
	-webkit-transform: rotate3d(1, 2, -1, 0deg);
	transform: rotate3d(1, 2, -1, 0deg);
	width: 70%;
	left: 15%;
	top: 12.5%;
	height: 73%;
	z-index: 1000;
}

p{
	width: 95%;
}