/*body {counter-reset:page;
-webkit-print-color-adjust: exact !important; }
div.page {page-break-before:always; counter-increment:page}
div.page:after {display:block; text-align:right; content:counter(page)}
div.first.page {page-break-before:avoid}*/


/*@page {
    @bottom {
	content: "Page " counter(page) " of " counter(pages)
    }
}*/
.background-image{
	background-image: url("img/bglong.png");
	background-size: 100%;
	background-repeat: no-repeat;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0%;
	width: 210mm;
	opacity: 0.0;
	/*height: 100%;*/
	height: 1000mm;

}
.background-image img{
	opacity: 0;
}

@page {
	margin-top: 1cm;
	margin-bottom: 1cm;

size: A4 portrait;

}
html{
	background-image: url("img/bglong.png");
	background-size: 100% ;
	background-repeat: repeat-y;
	width: 100%;
	height: 100%;



	-webkit-print-color-adjust: exact;
}
/*@page :left {
content: counter(page) "/" counter(pages);

  margin-left: 3cm
}
@page :right {
  margin-right: 4cm
}*/
/*@page :last {
  margin-right: 4cm
}*/
.header{
	font-size: 20px;
	font-weight: lighter;
}

.maintext{
	position: absolute;
	font-family: 'Lora', serif;
	font-size: 18px;
	/*width: 45%;*/
	/*max-width: 90%;*/

	
}
.concl{
	font-size: 23px;

	/*text-indent: 0em;*/

}

.textbody{
	width: 100%;
	height: 100%;
/*	visibility: visible;
	overflow-y: visible;*/
	/*opacity: 0.9;*/
/*	background-color: white;
color: black;*/
}

.page-break{
	page-break-before: always;
}
.credits{

	border-top: 4px solid black;
	font-size: 14px;
}

#firstimg{
	display: none;
}

.pr{
	display: none;
}

.textbody img :not(#firstimg){
	max-width: 90%;
	max-height: 100%;
	margin: auto;

	/*width: calc(110%);
	margin-left: -10px;
	margin-top: 0px;
	border-bottom: 4px solid black;*/

	/*filter: grayscale();*/
}
.hidepr{
	opacity: 0;
}
.lastbreak{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#firstimg{
	width: 100%;

/*	margin-left: 10cm;
*/	margin: auto;
	position: relative;
	border-bottom: 4px solid black;
}
.imgs{
	position: relative;
	left: 100px;
	max-width: 100%;
	max-height: 100%;

}
.imgchap{
	max-width: 50px;
	max-height: 50px;
	/*left: -30px;*/
}
.marker{
	vertical-align: top; 
	position: relative; 
	top: -0.3em;
	font-size: 14px;
	font-weight: bold;
	font-family:Helvetica;
	/*border: 2px solid black;*/
	background-color: lightgrey;
	padding:1px;
}
#mydiv1{

/*	-webkit-transform: rotate3d(1, 2, -1, 0deg);
	transform: rotate3d(1, 2, -1, 0deg) scale(3);
	position: absolute;
	left: 30%;
	top: 50%;
	filter: blur(7px)
	invert(100%);
    margin-right: -50px;
	width: 50%;
	height: 130%;
	z-index: -1000;*/
	/*display: none;*/
	display: block;
	/*background-color: yellow;*/
	
	width: 100%;
	/*height: 100%;*/
	z-index: 1;
	left: 0px;
	top: 0px;
	/*position: absolute;*/
}

#mydiv2{
	
	display: none;



	/*	border: 1px solid grey;*/
/*	-webkit-transform: rotate3d(1, 2, -1, 0deg);
transform: rotate3d(1, 2, -1, 0deg);*/
width: calc(100% );

opacity: 1;
left: 0%;
top: -1%;
height: auto;
z-index: 1000;
margin-top:0px;
margin-left: -10px;
padding: 20px;



/*padding-bottom: 500px;*/
}
p{
	padding:20px;

	background-color: white;
}
a{
	word-break: break-all;
	color: black;
}



p{
	/*width: 60%;*/
	text-indent: 1em;
	margin-left: 1cm;
/*	page-break-inside:avoid;
*/	hyphens: auto;
	padding-bottom: -10px;
	/*padding-right: 200px;*/
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;


	/*margin-bottom: 300px;*/

}
.underimg{
	font-size: 13px;
	font-family:Helvetica;
	/*margin-bottom: 60px;*/
	max-width: 60%;
}
#abstract1{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#conclusion{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#chapter1{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#chapter2{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#chapter3{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#chapter4{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
#chapter5{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
.twocol{
/*	column-count: 2;*/
	column-gap: 3em;
	font-style: italic;
	text-indent: 0px;
	font-size: 16px;
	font-weight: lighter;
	padding-bottom: 10px;
}
h1, h2, h3{
	/*width: 100%;*/
	padding-left: 40px;
	text-indent: all;
/*	text-align: center;*/
	text-transform: uppercase;
	font-weight: lighter;
	max-width: 100%;
	left: 0px;
	/*position: absolute;*/
	/*padding:20px;*/
	



}

h1{
	/*margin-top: 0px;*/
	font-size: 120px;
	padding-bottom: 400px;
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
	line-height: 0.8em;
/*	color: red;
*/
}
h2{
	font-size: 140px;
	padding-bottom: 50px;
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
	line-height: 0.8em;
	max-width: 95%;


}
h3{
	border-top: 4px solid black;
	padding-top: 40px;
	padding-bottom: 10px;
}


.header{
	align-self: center;
}
.small .select{
	display: none;
}

p{
	/*display: none;*/
}
.footim{
	min-width:100%;
	margin-top: -105px;
}
.footnotes{

	display: none;
	position: absolute;
	top:75cm;
	height: 100%;
	right: 0px;
	z-index: 1;
	float: right;
	font-size: 12px;
}
.footnote{
	padding-bottom: 50px;
	margin-right: -30px;
	padding-top: 10px;
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
	color: white;
}
#footnote1{
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
}
.hidescreen img{
	

	max-width: 100%;
	

}


.select{
	font-family: Helvetica;

}
.underline{
    border-bottom: 4px solid black;
}


.small{
	font-size: 15px;
	text-align: left;
	font-weight: lighter;
	border-top: 4px solid black;
	padding-bottom: 10px;
	line-height: 1.2em;

}
.cursive{
	font-style: italic;
}
.align-right{
	text-align: right;
	font-size: 15px;
	margin-bottom: 40px;
}

.hidescreen{
	padding-bottom: 20px;
	position: relative;
	left: 60px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 17px;
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;
	border: 4px solid black;
	/*color: white;*/
	width: 150px;
	font-size: 10px;
	font-family: Helvetica;
	margin-top: -4px;
}
.textbody img:not(.imgchap){

	page-break-inside: avoid;
	margin-top: 50px;
	width: auto;
	height: auto;
	max-width: 50%;
	max-height:50%;
}
.line:not(.rect){
	display: none;
}
.textbody{
    left: 0px;
	top: 0px;

}


.lastpage{
	position: relative;
	float: bottom;
	padding-top: 1cm;
	padding-bottom: 1cm;
	height: 32cm;
	width: 100%;
	page-break-before: always;
	page-break-inside: avoid;
	page-break-after: always;

}
