body{
	background-color: white;

}
::-webkit-scrollbar { 
	display: none; 


}
@media screen and (max-width: 700px) {
    #mydiv1 {
       /*width: 50%;
       marginleft: 100%;*/

    }
    #mydiv1 p{
       font-size: 13px;
       width: 70%;
       margin: auto;
       left: 15%;

    }
    h1{
       font-size: 25px;
    }
    .twocol{
    	column-count: 1;
    }

}
@media screen and (min-width: 700px) {
   
    .twocol{
    	column-count: 2;
    }
    h1{
    	font-size: 50px;
    }

}
* :not(.line){
	transition: 0.6s all;
	transition-duration: 0.6s;

}

@font-face {
	font-family: 'Bangla MN';
	src: url('BanglaMN.ttf'); /* IE9 Compat Modes */
	/*  src: url('Ogirema/Ogirema.ttf?#iefix') format('embedded-opentype'), /* IE6-IE8 */

}
/*
*/

.header{
	font-size: 25px;
	font-weight: bold;
}

.maintext{
	position: fixed;
	overflow: hidden;
	font-family: 'Bangla MN';
/*	font-family: 'Roboto Mono', monospace;
*/	font-size: 18px;



}
h1, h2{
	text-align: center;
}
h1{
	/*margin-top: 0px;*/
/*	font-size: 50px;*/
	margin: auto;
	font-weight: lighter;

	padding-bottom: 30px;
/*	border-bottom: 10px solid darkgrey;
*/	-webkit-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.56);
	box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.56);
	color: black;

}
h2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.header{
	align-self: center;
}
.textbody p{
	width: 70%;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
	
	border-bottom: 1px solid red;
	hyphens: auto;

}
.textbody :not(.twocol, .header){
	text-indent: -1em;
}

.textbody{
	overflow-x: hidden;
	top: -30px;
	position: absolute;
	width: 100%;
	height: 110%;
/*	padding:10px;
*/	overflow-y: scroll;
	background-color: white;
	color: black;
	/*display: flex;
	align-items: center;*/
	/*justify-content: center;*/
}
.textbody img{
	width: calc(110%);
	margin-left: -10px;
	margin-top: 0px;
	border-bottom: 2px solid red;

	/*filter: grayscale();*/
}
.twocol{
/*	column-count: 2;*/
	column-gap: 3em;
	font-style: italic;
	text-indent: 0px;
	font-size: 13px;
	font-weight: lighter;
	padding-bottom: 10px;
}

#mydiv2{

	-webkit-transform: rotate3d(1, 2, -1, 0deg);
	transform: rotate3d(1, 2, -1, 0deg) scale(3);
	position: fixed;
	left: 25%;

	top: 100%;
	filter: blur(9px)
	invert(100%);
	margin-right: -50px;
	width: 50%;
	height: 100%;
	overflow-y: auto;
	pointer-events: none;
}


#mydiv1{
	/*display: none;*/
	/*border-left: 2px solid red;
	border-right: 2px solid red;*/
	/*-webkit-box-shadow: 1px -1px 33px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -1px 33px 2px rgba(0,0,0,0.75);
    box-shadow: 1px -1px 33px 2px rgba(0,0,0,0.75);*/
    width: calc(65% - 4px);
    left: calc(17.5% - 0px);
    top: 10%;
    height: 80%;
    max-width: 100%;


}
#mydiv1 :not(#mydiv2){opacity: 0.9;}

p{
/*	width: 95%;
*/}
.line{
	position: fixed;
	/*	background-color: blue;*/
	transition: 0.6s all;
	/*transition-duration: 1s;*/
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;




}
#left, #right{
	width: 17.5%;
	height: 100%;
	z-index: 3000;
	top: 0px;
}
#left{
	left: 0px;
	border-right:1px solid red;
}
#right{
	right: 0px;
	border-left:1px solid red;
}
#top, #bottom{
	height: 10%;
	z-index: 3000;
	width: 100%;
	left: 0px;
}
#top{
	top: 0px;
	border-bottom:1px solid red;
}
#bottom{
	bottom: 0px;
	border-top:1px solid red;
}
.circle{
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	border-radius: 100%;
	border:1px solid red;
	width: 80px;
	height: 80px;
}
.rect{
	top: calc(50% - 40px);
	left: calc(50% - 40px);
	border:1px solid red;
	width: 80px;
	height: 80px;
}
.canvas{
	position: relative;
	float: top;
	width: 100%;
	height: 200%;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
	margin-bottom: -1px;

}
#canvas1{
	/*background-color: blue*/
}